* {
    box-sizing: border-box;
}


body {
    padding:0;
    margin: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background: url('../media/images/amor29.jpg');
    background-repeat: no-repeat;
   background-size: cover;
}



button{
    border-radius: 2em;
    text-align: center;
    font-size:medium;
    padding: 8px;
    margin-bottom: 0.5em;
    background-color: rgb(14, 7, 116);
    color:white;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    margin-top: 1em;
    width: 100%;
}

button:hover{
    font-weight: bold;
    color: burlywood;
}

header,h2{
    text-align: center;
    font-weight: bold;
    width: 100%;
    color: blue;
    background-color: rgb(240, 183, 117) ;
}

h1{
    text-shadow: 1px 1px 2px rgb(176, 218, 243);
     text-align: center;
     color: #e95c24;
     font-size: 4em;
     font-family: 'VAG-HandWritten', sans-serif;
     margin-bottom: 20px;
     margin-top: 5%;
  }

  a{
    text-decoration: none;
    color: rgb(241, 99, 33);
  }

  a.active {
    background-color: dodgerblue;
    color: rgb(255,115,0);
    padding: 5vw;
    }

    a:hover {
        background:none;
        color: rgb(238, 33, 6);
        }

h2{
    font-size: 1em;
}


.container {
    display: grid;
    grid-template-areas:
        "header"
        "main"
        "footer";
    min-height: 100vh;

}

main {
    grid-area: main;
    padding: 20px;
    display: grid;
    justify-content: center;
    align-items: center;
    color: rgb(150, 40, 7);
    text-shadow:1px 1px 1px rgb(250, 250, 248);
}


.create-form {
    display: grid;
    grid-template-areas:
        "name"
        "message"
        "tel"
        "email"
        "mob"
        "image"
        "button";
    grid-gap: 20px;
    margin-bottom: 5px;
}

.url-form {
    display: grid;
    grid-template-areas:
        "homepage"
        "checkbox"
        "button";
    place-items: center;
    background-color: orange;
    text-shadow:2px 2px 3px orange;
    padding: 1em;
    margin: 1em 0;
    border-color: transparent;
    border-radius: 20px;
}

label {
    margin-bottom: 30px;
    font-weight: bold;
}

input, textarea {
    width:100%;
    padding: 10px;
    margin-bottom: 1em;
    border: 1px solid rgb(240, 197, 118);
    border-radius: 20px;
}

input.largerCheckbox {
    width: 20px;
    height: 20px;
}

#url{
    background-color:orange;
    border-color: orange;
}

#url.active{
    background-color: white;
}

input[type="file"] {
    background-color: white;
}

footer{
    grid-area: footer;
    position:block;
    width: 100%;
    background-color:rgb(8, 8, 8);
    font-size: small;
    color:white;
    text-align: center;
    padding: 8px;
}


@media only screen and (min-width: 592px) {
    h1{
        font-size: 6em;
    }

    .create-form{
        width: 80%;
        margin-left: 10%;
        justify-content: center;
    }

    .url-form{

        color: blue;
        background-color: orange ;
        input[type="url"]{
        width: 400px;
        }

    }



    main {
        padding-left: 0;
        padding-right: 0;
    }

}


@media only screen and (min-width: 1024px) {
    h1{
        font-size: 8em;
        margin-top: 0;
    }

    .create-form{
        width: 70%;
        margin-left: 15%;
    }



    #title2{
        width: 100%;
        text-align: center;
    }

    .url-form{
        width:auto;
        color: blue;
        background-color: orange ;
        justify-items: center;
        margin-left: 0;
        margin-right: 0;
        input[type="url"]{
            width: 800px;
        }
    }

    .bg-image{

        background-position: top;
        background-repeat: no-repeat;
        background-size: cover;
        z-index: -1;


     }


    main {
        padding-left: 0;
        padding-right: 0;
    }

  }
